
.container {
height: 100vh;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
}

.calculator{
    background-image: linear-gradient(to left, #ff0000, #ff7b00, #ffd900, #319628, #00e1ff, #1a45a0, #791774);
    padding: 60vh 10vh 10vh 10vh;
    border-radius: 1rem;
  }
 
  .button {
    
  }